.ui-input {
    border-radius: 10px;
    border: .5px solid rgba(255, 255, 255, .5);
    font-size: 14px;
    transition: all 0.2s ease;
    outline: none;
    padding: 12px 16px;
}

.ui-input:focus {
    background: #0f6fff;
    box-shadow: 0 0 0 3px rgba(15, 111, 255, 0.15);
}

.ui-input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.ui-input-small {
    height: 34px; padding: 0 10px;
}

.ui-input-medium {
    height: 42px; padding: 0 14px;
}

.ui-input-large {
    height: 52px; padding: 0 18px;
}

.ui-input-XL {
    height: 64px; padding: 0 22px;
}